{% extends 'base.html' %}

{% block content %}

{% load static %}

<p class ="text-primary pathTitle"><a href="{% url 'home' %}">Αρχική σελίδα</a> > ΑΜΕΑ</p>

<html>
    <body>

    <img src="{% static 'amea.png' %}" alt="ameaimage"  width="200" height="200">
    <br>
    <br>
    <br>
    <br>
    <button onclick="myFunction()"  class="btn btn-primary btn-lg btn-sm" >Γενικές οδηγίες για ΑΜΕΑ</button>

    <div id="myDIV" style="display:none">
       Το πρόβλημα της μετακίνησης-μεταφοράς των εμποδιζομένων ατόμων στις σύγχρονες πόλεις
        παραμένει έντονο με αρνητικές συνέπειες <br> στην ποιότητα ζωής λόγω της μη ικανοποιητικής
        πρόσβασης στα ΜΜΜ. Ως εμποδιζόμενα άτομα νοούνται τα πρόσωπα εκείνα που λόγω <br>κάποιας
        προσωπικής αιτίας ιδιαιτερότητας η καταστάσεως (Νόσος, Πάθησης, Βλάβης, Εγκυμοσύνης,
        μεταφορά αντικειμένων κλπ.) ή λόγω <br>διαφόρων φραγμών και εμποδίων που εγείρονται στο
        κάθε είδους περιβάλλον εμποδίζεται η δυνατότητα και ικανότητάς τους για πρόσβαση <br> σε διάφορους
        χώρους και στα ΜΜΜ.
        Τα εμποδιζόμενα άτομα βάσει στατιστικών ανέρχονται στο 42.5% του ελληνικού πληθυσμού. <br> Ανάλυση:<br>
        10% ΑμεΑ. Άτομα με κάθε είδους Αναπηρία.<br>
    14% Ηλικιωμένοι 60-74 ετών<br>
    6% Υπερήλικες άνω των 75 ετών<br>
    11%  Νήπια 0-4 ετών και οι συνοδοί των<br>
    1,5%  Έγκυες γυναίκες<br>
    Η κακή ποιότητα των  παρεχομένων υπηρεσιών δημιουργούν συνθήκες αποκλεισμού των ατόμων
        με ανάγκες στη καθημερινή τους ζωή.<br> Ο σχεδιασμός και η ανάπτυξη των μέσων μεταφοράς
        δεν καλύπτει μόνο τις υπάρχουσες ανάγκες μιας μετακίνησης του πληθυσμού αλλά<br>
        σχεδιάζεται να προσελκύει όλο και περισσότερες ομάδες νέων επιβατών,
        απαλείφοντας προβλήματα κοινωνικού αποκλεισμού και <br> προσφέροντας καλύτερες υπηρεσίες σε  όλους τους χρήστες.<br><br>
    ΝΕΑ ΓΡΑΜΜΗ ΑΠΟΚΛΕΙΣΤΙΚΗΣ ΕΞΥΠΗΡΕΤΗΣΗΣ ΑΤΟΜΩΝ ΜΕ ΑΝΑΠΗΡΙΑ<br>
    Για την άμεση και αποκλειστική εξυπηρέτηση των ατόμων με αναπηρία ο ΟΑΣΑ έχει θέση σε
        λειτουργία νέα τηλεφωνική γραμμή 210 82 00 887 <br>που λειτουργεί
        από 06:30 - 22:30 τις καθημερινές και από 07:30 - 22:30 τα Σ/Κ.<br>
        <br>ΕΙΔΙΚΑ ΟΧΗΜΑΤΑ ΓΙΑ ΤΗΝ  ΜΕΤΑΦΟΡΑ ΑΤΟΜΩΝ ΜΕ ΑΝΑΠΗΡΙΑ<br>
    Με μέριμνα της Ο.ΣΥ. Α.Ε λειτουργεί υπηρεσία για την εξυπηρέτηση
        ατόμων με αναπηρία (ΑμεΑ), η οποία παρέχει δωρεάν μετακίνηση<br> σε όσους δεν μπορούν
        να εξυπηρετηθούν από τα συμβατικά οχήματα των αστικών συγκοινωνιών.
        Η υπηρεσία διαθέτει <br>τρία (3) ειδικά οχήματα που διαθέτουν μικρό αριθμό (3 - 7)
        θέσεων για επιβάτες, θέσεις (3 - 4) για αναπηρικά αμαξίδια και μία θέση συνοδού.<br>
        Η χρήση της υπηρεσίας αυτής, για την μετακίνηση ατόμων με αναπηρία θα γίνεται
        απαραίτητα με ραντεβού και με την προϋπόθεση<br> ότι θα υπάρχει διαθέσιμο όχημα.
        Για ραντεβού οι ενδιαφερόμενοι θα καλούν το τηλέφωνο 210 42 70 748.
        <br>Οι ώρες εξυπηρέτησης των ΑμεΑ με τα ειδικά οχήματα θα είναι
        από Δευτέρα - Παρασκευή από 07:30 - 14:00

    </div>

    <br>
    <br>

     <button onclick="my2Function()"  class="btn btn-lg btn-primary btn-sm" >Στάσεις με προεξοχές</button>

    <div id="my2DIV" style="display:none">

        <br><br>       <strong>Βρείτε ποιές στάσεις μπορείτε να χρησιμοποιήσετε ανάλογα με την περιοχή στην οποία βρισκεστε!</strong>

        <h4 id="perioxiameaSearchLabelId">Εισάγετε την περιοχή</h4>
                    <form class="form-inline my-2 my-lg-0 metroSearch" action="searchStations" method=" ">
                        <input class="form-control mr-sm-2" onfocus="this.value=''" id = "perioxiSearchId" name="searchArea" type="search" placeholder="Περιοχή" aria-label="Search" value="{{ request.GET.searchArea }}">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>

                    </form>

    </div>

    <br>
    <br>

    <button onclick="my3Function()"  class="btn btn-lg btn-primary btn-sm" >Οδηγίες προσέγγισης στα ΜΜΜ</button>

    <div id="my3DIV" style="display:none">
        Για το ΜΕΤΡΟ<br>
Πηγαίνεις στον πλησιέστερο σταθμό της οικίας σου ή της διαδρομής που επιθυμείς.<br>
Από τις ράμπες των πεζοδρομίων προσεγγίζεις τον ανελκυστήρα του σταθμού.<br>
Εισέρχεσαι στον ανελκυστήρα και κατεβαίνεις στις αποβάθρες των σταθμών. Όλοι οι ανελκυστήρες είναι<br> πλήρως προσβάσιμοι και στην είσοδο και στην έξοδο τους. Εάν αντιμετωπίσεις πρόβλημα χρησιμοποίησε<br> το κουδούνι κινδύνου.<br>
Από τις αποβάθρες εισέρχεσαι στους συρμούς είτε μόνος είτε με την βοήθεια του συνοδού σου ή των υπευθύνων <br>των σταθμών, οι οποίοι θα σου παράσχουν κάθε δυνατή βοήθεια, όταν θα τους ζητηθεί. Η επιβίβαση-αποβίβαση <br>για τα αναπηρικά αμαξίδια γίνεται ευκολότερη στο πρώτο ή το τελευταίο βαγόνι, γιατί φέρουν ράμπα για το κενό <br>που υπάρχει μεταξύ αποβάθρας και συρμού και σχετική σήμανση.<br>
Εάν έχεις πρόβλημα όρασης ζήτησε βοήθεια από τον υπεύθυνο του σταθμού, ο οποίος θα σε βοηθήσει στην επιβίβαση <br>και θα ενημερώσει τον υπεύθυνο του σταθμού που θα αποβιβασθείτε για να σε βοηθήσει.
<br><br>Για τον ΗΛΕΚΤΡΙΚΟ ΣΙΔΗΡΟΔΡΟΜΟ<br>
Ακολούθησε όλες τις παραπάνω οδηγίες, γιατί όλοι οι σταθμοί του ΗΣΑΠ έχουν ανακαινισθεί με σκοπό<br> την πλήρη πρόσβαση των Εμποδιζομένων Ατόμων (Ράμπες, Ανελκυστήρες, Φύλακες κ.λ.π.).
<br>Εισέρχεσαι στους συρμούς από την πρώτη πόρτα του πρώτου βαγονιού, όπου υπάρχει και σχετική σήμανση.<br>
Στους σταθμούς Άγ. Νικολάου, Ομόνοιας, Μοναστηράκι καλέστε τους φύλακες να φέρουν την κινητή ράμπα<br> και να σας βοηθήσουν, αφού την τοποθετήσουν, επειδή στους παραπάνω σταθμούς υπάρχει μεγάλο κενό<br> μεταξύ αποβάθρας και συρμών. Υπάρχει σχετική σήμανση στα βαγόνια των συρμών και ηχητική ενημέρωση <br>στους παραπάνω σταθμούς.<br>
<br>Για το ΤΡΑΜ<br>
Πλησιάζεις τον πλησιέστερο σταθμό της οικίας σου, συνήθως με την βοήθεια συνοδού,<br> γιατί η πρόσβαση προς τις ράμπες των στάσεων του ΤΡΑΜ δεν είναι εύκολη,<br> επειδή τα πεζοδρόμια δεν έχουν ακόμη προσαρμοσθεί κατάλληλα.<br>
Εισέρχεσαι στους συρμούς μόνος σου ή με την βοήθεια του συνοδού σου όπου υπάρχουν ειδικές θέσεις για Εμποδιζόμενα Άτομα.<br>


    </div>


    </body>
</html>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}