{% extends 'base.html' %}

{% block content %}

{% load static %}

<p class ="text-primary pathTitle"><a href="{% url 'home' %}">Αρχική σελίδα</a> > Επικοινωνία</p>

<br>
<br>
<br>
<br>



<div class="card-deck">
  <div class="card" >
    <div class="card-body text-center">
      <p class="card-text">ΟΑΣΑ <br>Διεύθυνση: <br>Μετσόβου 15,
                            Αθήνα 106 82
                            <br>
                            Τηλ.:
                            210-82.00.999<br>
                            Φαξ:
                            210-82.12.219<br>
                            e-mail: oasa@oasa.gr<br>
                            Τηλεφωνική Πληροφόρηση:<br>
                            11185
                            </p>
    </div>
  </div>
  <div class="card ">
    <div class="card-body text-center">
      <p class="card-text">AΤΤΙΚΟ ΜΕΤΡΟ Α.Ε.

Λ. Μεσογείων 191-193
115 25 Αθήνα

Τηλεφωνικό κέντρο :  210 – 6792399

Υπηρεσία Επικοινωνίας

Μεσογείων & Γεδεών 2
115 25 Αθήνα
Τηλ. 210 – 6792300
210 – 6792032
Fax. 210 – 6726126
Email: info@ametro.g</p>
    </div>
  </div>
  <div class="card ">
    <div class="card-body text-center">
      <p class="card-text">ΣΤΑΣΥ
             <br>
Το γραφείο βρίσκεται στο σταθμό Σύνταγμα, δίπλα στην έξοδο προς την Πλατεία Συντάγματος.
Ωράριο λειτουργίας

:
	Δευτέρα έως Παρακευή, 08:00 - 20:00 & Σάββατο 8:00 - 16:00
Τηλέφωνο
:
	214.414.6400
Φαξ
:
	214.414.6489
Ηλεκτρονικό ταχυδρομείο
:
	Συμπληρώστε τη φόρμα αποστολής ή στείλτε το μήνυμά σας στο pservice@stasy.gr</p>
    </div>
  </div>
  <div class="card ">
    <div class="card-body text-center">
      <p class="card-text">ΑΝΑΖΗΤΗΣΗ ΑΠΟΛΕΣΘΕΝΤΩΝ
          <br>

Σε περίπτωση απώλειας προσωπικού αντικειμένου, ο επιβάτης μπορεί να απευθυνθεί στα Γραφεία Απολεσθέντων Αντικειμένων, είτε για δήλωση απώλειας, είτε για την παραλαβή ανευρεθέντος αντικειμένου.  Εάν επιβάτης βρει κάποιο αντικείμενο πρέπει να το παραδώσει στο προσωπικό του σταθμού όπου βρίσκεται.</p>
    </div>
  </div>
</div>


<br>
<br>
<br>
<br>

{% endblock %}